
/*using label for checkbox*/
.fckbox{

}

.fckbox{
	display: none;
}

.fckbox + label{
	background-color: #FFF;
	border: 1px solid #C1CACA;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
	padding: 9px;
	border-radius: 10px;
    display: inline-block;
    margin-right: 10px;
	position: relative;
	margin-bottom: -3px;
}

.fckbox + label:active{
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1); 
} 

.fckbox:checked + label { 
 	background-color: #ECF2F7; 
    border: 1px solid #92A1AC; 
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05), inset 15px 10px -12px rgba(255, 255, 255, 0.1); 
    color: #243441; 
} 

.fckbox:checked + label:after { 
    content: '\2713'; 
    position: absolute; 
    top: 0px; 
    left: 0px; 
    color: #758794; 
    width: 100%; 
    text-align: center; 
    font-size: 0.6em; 
    padding: 1px 0 0 0; 
    vertical-align: text-top; 
} 



        .app{
            background-color: #f1f0f0;
            width: 80%;
            position: absolute;
            left: 10%;
        }

        .todoHeader h1{
            color: #c77373;
            font-size: 5rem;
            text-align: center;
            height: 40px;
            text-shadow: 5px 5px 5px #9c7575;
            line-height: 20px;
        }

        .todoHeader input{
            width: 100%;
            font-size: 18px;
            font-weight: lighter;
            font-style: italic;
            line-height: 35px;
            border-radius: 4px;
            border: 1px solid #ccc;
            box-shadow: 0 0 5px #ccc;
            outline: none;
            padding-left: 40px;
        }
 
        .todolistul li{
            list-style: none;
            margin-left: -30px;
            border-bottom: 0.5px solid #d4cfcf;
            padding: 10px 0;
        }

        .todolistul li:last-child{ 
    /*      border-bottom: 0;*/
        }

        .todoitem{

        }

        .todoitem label{
            color: #484747;
        }

        .finishitem{

        }

        .finishitem label{
            text-decoration: line-through;
            color: #ccc;
        }

        .ckbox{
            display: none;
        }

        .ckbox + label{
            background-color: #FFF;
            border: 1px solid #C1CACA;
            box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
            padding: 9px;
            border-radius: 10px;
            display: inline-block;
            margin-right: 10px;
            position: relative;
            margin-bottom: -3px;
        }

        .ckbox + label:active{
            box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1); 
        } 

        .ckbox:checked + label { 
            background-color: #ECF2F7; 
            border: 1px solid #92A1AC; 
            box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05), inset 15px 10px -12px rgba(255, 255, 255, 0.1); 
            color: #243441; 
        } 

        .ckbox:checked + label:after { 
        
            position: absolute; 
            top: 0px; 
            left: 0px; 
            color: #758794; 
            width: 100%; 
            text-align: center; 
            font-size: 0.6em; 
            padding: 1px 0 0 0; 
            vertical-align: text-top; 
        } 

        .ckboxicon1:checked + label:after { 
            content: '\2713';  
        } 

        .ckboxicon2:checked + label:after  { 
            content: '\1817';  
        } 

        .todolistul li button { 
            /*background-color:yellow;*/
            display: none;
            float: right;
        }

        .todolistul li:hover button{ 
            display: inline;
            float: right;  
 
        } 

        .mybutton{  
            outline: none;
            margin-top: -3px; 
            background-color: #b9a69d;
            font-family: 'Open Sans', sans-serif;
            font-size: 12px;
            text-decoration: none;
            color: #4c4a4a;
            position: relative;
         
            border-radius: 5px;
            box-shadow: inset 0px 1px 0px #9e8d84, 0px 1px 0px 0px #796357, 0px 1px 0px #999;
        } 

        .mybutton:hover { 
            box-shadow: inset 0px 2px 0px #9e8d84, 0px 2px 0px 0px #796357, 0px 2px 0px #999;
        }


        .deleteBt{  
            background-color: #f1f0f0;
            border: 0;
            text-decoration:  underline;
            font-size: 0.9em;
            color: #d8b8b8;
            font-weight: lighter;
            outline: none;
        } 

        .deleteBt:hover { 

            box-shadow: inset 0px 2px 0px #9e8d84, 0px 2px 0px 0px #796357, 0px 2px 0px #999;
        }


        .mychecklabel{

        }
        




        .footer span{
            float: left;
        } 

        .footer a{
            float: right;

        } 

        .footer a:hover{
            text-decoration: underline;
        } 


        .filterBt{
            border: 0;
            /*border-color: #b76a6a;*/
            /*margin-left: 10px;*/
            background-color: #e2d4d4;
            border-radius: 5px;
            padding: 2px 8px;
            font-size: 0.9em;
            color: #5d5b5b;
            font-weight: lighter;
            outline: none;
        }   

        .filterBt:hover{
            text-decoration: underline;
        }   
 

        .filteredBt{
            background-color: #A96E6B;
        }

        .selectAllCkbox + label{
            position: relative;
            top: -29px;
            left: 10px;
        }
         



        .footer{
            float: left;
            width: 100%;
            font-size: 0.9em;
            color: #5d5b5b;
            font-weight: lighter;
        }

        .footer span{
            float: left;
            font-size: 0.9em;
            color: #5d5b5b;
            font-weight: lighter;
            width: 30%;
        } 

        .footer ul{
            float: left;
            list-style: none;
            margin-top: -2px;   
            width: 30%;  
        } 

        .footer ul li{
            float: left;
            margin-left: 10px;
        }



.todolisttrans-move {
  transition: transform 1s;
}

.list-complete-item {
  transition: all 1s;
  display: inline-block;
  margin-right: 10px;
}
.todolisttranse-enter, .todolisttrans-leave-to
/* .list-complete-leave-active for below version 2.1.8 */ {
  opacity: 0;
  transform: translateX(30px);
}
.todolisttrans-leave-active {
  position: absolute;
}