<!DOCTYPE html>
<html>
<head>
	<title>To Do MVC</title> 
	<script src="libs/vue.js"></script>
	<link rel="stylesheet" type="text/css" href="css/mystyle.css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/velocity/1.2.3/velocity.min.js"></script>

</head>
<body class="app">  
	<section id="todoapp">
		<header class="todoHeader">
			<h1>todos</h1>
			<input v-model="newTodo" autofocus placeholder="What needs to do done?" @keyup.enter='addTodo'></input>
		</header> 
		<section id="main" v-show="todoList.length" >
			<input :class=['ckbox','ckboxicon2','selectAllCkbox'] type="checkbox" id="selectAll" @change="selectAll($event.target.checked)"></input>
			<label for="selectAll" ></label> 
			<ul class="todolistul">
				<transition-group name="todolisttrans"    
				 	tag="p"
				    v-on:before-enter="beforeEnter"
				    v-on:enter="enter"
				    v-on:leave="leave">
					<li v-for="(todo, index) in filterList" :key="index">
						<div :class="{'todoitem': true, 'finishitem': todo.completed}">
							<input :id="index+'checkbox'" :class=['ckbox','ckboxicon1'] type="checkbox" v-model="todo.completed"></input>
							<label :for="index+'checkbox'"></label>
							<label>{{todo.title}}</label>
							<button @click="removeItem(todo)" class="deleteBt">Clear</button>
						</div>
					</li>
				</transition-group>
				
			</ul>
		</section>
		<footer class="footer" v-show="todoList.length">
			<span>
				<strong>{{remaining}}</strong> items left
			</span>
			<ul> 
				<li>
					<button @click="filterItem('all')" :class="{'filterBt':true, 'filteredBt':filter=='all'}">All</button>
				<!-- 	<button @click="filterItem('all')">All</button> -->
				</li>
				<li>
					<button @click="filterItem('active')" :class="{'filterBt':true, 'filteredBt':filter=='active'}">Active</button>
				</li>
				<li>
					<button @click="filterItem('completed')" :class="{'filterBt':true, 'filteredBt':filter=='completed'}">Completed</button>
				</li>
				 
			</ul>
			<a v-show='todoList.length' @click="clearAll">Clear All</a>
		</footer>
	</section>


	<script type="text/javascript">

		var todoStorage = {
			storage_key: 'fangfang_todolist_vuelearning2.0',

			hasLocalStorage : !!function(v){
					try{
						with(localStorage)
						return setItem(v,v)|!removeItem(v)
					}
					catch(e){}
			}('_'),

			fetch: function(){
				var todos = [];
 
				if(this.hasLocalStorage){
					todos = JSON.parse(localStorage.getItem(this.storage_key) || '[]'); 
				} 
				
				return todos;
			},

			save: function(todos){
				if(this.hasLocalStorage){
					localStorage.setItem(this.storage_key, JSON.stringify(todos));
				} 
			}

		};

		var todovm = new Vue({
			el: '#todoapp',
			data: {
				todoList: todoStorage.fetch(),
				newTodo: '',
				filter: 'all' // all, active, completed
			},
			computed: {
				filterList: function(){
					if(this.filter === 'all'){
						return this.todoList;
					}else if(this.filter === 'active'){
						return this.todoList.filter(function(item){
							return !item.completed;
						});
					}else if(this.filter == 'completed'){
						return this.todoList.filter(function(item){
							return item.completed;
						});
					}
				},
				remaining: function(){
					return this.todoList.length;
				}
			},
			methods: {
				addTodo: function(){
					var value = this.newTodo && this.newTodo.trim();
					if(!value){
						return;
					}
					var uid = this.todoList.length
					this.todoList.push({
						id: uid,
						title: value,
						completed: false
					});
					this.newTodo = '';
				},
				removeItem: function(todo){
					this.todoList.splice(this.todoList.indexOf(todo), 1);
				},
				filterItem: function(filter){
					this.filter = filter;
				},
				clearAll: function(){
					this.todoList = [];
				},
				selectAll:function(checked){
					this.todoList.forEach(function(item){
						item.completed = checked;
					});
				},
				beforeEnter: function (el) {
				      el.style.opacity = 0
				      el.style.height = 0
			    },
			    enter: function (el, done) {
				      var delay = el.dataset.index * 150
				      setTimeout(function () {
				        Velocity(
				          el,
				          { opacity: 1, height: '1.6em' },
				          { complete: done }
				        )
				      }, delay)
			    },
			    leave: function (el, done) {
				      var delay = el.dataset.index * 150
				      setTimeout(function () {
				        Velocity(
				          el,
				          { opacity: 0, height: 0 },
				          { complete: done }
				        )
				      }, delay)
			    }
			},
			watch: {
				todoList: function(){
					todoStorage.save(this.todoList);
				}
			}
		});
	</script>
  

</body>
</html>