<!DOCTYPE html>
<html>
<head>
	<title> 
		V-ON
	</title>
	<script type="text/javascript" src="libs/vue.js"></script>
</head>
<body>

	<div id="v-on">
		
		<input v-model="message" placeholder="edit me" value="default value in HTML tag">
		<p >Message is: {{ message }}</p> 

		<span>Multiline message is:</span>
		<p style="white-space: pre-line;">{{ multipleMsg }}</p>
		<br>
		<textarea v-model="multipleMsg" placeholder="add multiple lines">textarea default value</textarea>
		
		</br></br>
		<span>Checkbox:</span></br>
		<input type="checkbox" id="checkbox" v-model="checked">
		<label for="checkbox">{{ checked }}</label>

		</br></br>
		<input type="checkbox" id="jack" value="Jack" v-model="checkedNames">
		<label for="jack">Jack</label>
		<input type="checkbox" id="john" value="John" v-model="checkedNames">
		<label for="john">John</label>
		<input type="checkbox" id="mike" value="Mike" v-model="checkedNames">
		<label for="mike">Mike</label>
		<br>
	    <span>Checked names: {{ checkedNames }}</span>

	    </br></br>
	    <input type="radio" id="one" value="One" v-model="picked">
 		<label for="one">One</label>
  		<br>
  		<input type="radio" id="two" value="Two" v-model="picked">
  		<label for="two">Two</label>
  		<br>
  		<span>Picked: {{ picked }}</span>

		</br></br>
  		<select v-model="selected">
	    <option disabled value="">请选择</option>
	    <option>A</option>
	    <option>B</option>
	    <option>C</option>
	  	</select>
	  	<span>Selected: {{ selected }}</span>

	  	</br></br>
	  	<select v-model="selectedM" multiple style="width: 50px;">
	    <option>A</option>
	    <option>B</option>
	    <option>C</option>
	  	</select>
	  	<br>
	  	<span>Selected: {{ selectedM }}</span>


	  	</br></br>
	  	<select v-model="selectedDyn">
  		<option v-for="option in options" v-bind:value="option.value">
    		{{ option.text }}
  		</option>
		</select>
		<span>Selected: {{ selectedDyn }}</span>

		</br></br>
		<span>Bind to VM value</span></br>
		<input
		  type="checkbox"
		  v-model="toggle"
		  v-bind:true-value="a"
		  v-bind:false-value="b"
		>
		<span>Toggle: {{toggle}}; vm.a=: {{ a }} ; vm.b={{ b }} </span>
	</div>

	<script type="text/javascript">
		
		var vm = new Vue({
			el: "#v-on",
			data: {
				message:"default value in HTML tag will be ignored",
				multipleMsg: '',
				checked: false,
				checkedNames: ['Jack'],
				picked: 'Two',
				selected: '',

				selectedDyn: '',
				options: [
					{ text: 'One', value: 'A' },
      				{ text: 'Two', value: 'B' },
      				{ text: 'Three', value: 'C' }
      			],

				selectedM: ['A', 'B'],

				toggle:'',
				a:'true-a',
				b: 'false-b'
			}
		})
	</script>

</body>
</html>